@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Constant styles  */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;
  transition: all 0.4s ease-in;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
}

a,
button {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* // Constant Styles */
ul {
  margin-bottom: 0;
}

.form-control {
  border-radius: 7px;
  background-color: rgba(245, 247, 250, 0.386);
}
.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.2);
}

p {
  font-size: 1.1rem;
  color: #000;
}

/* Main Style */
.btn_style {
  background-color: #ccff7d;
  border: 1px solid #000000;
  font-size: 1.1rem;
  color: #000;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 20px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: -6px 5px 1px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out !important;
}
.btn_style:hover {
  color: #00142c;
  background-color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}

.card_img {
  height: 100vh;
  position: relative;
}
.card_img .img_parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card_img .img_parent img,
.card_img .img_parent video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

body.modal-open {
  padding-right: 0 !important;
}

body.modal-open .mm-slideout {
  z-index: auto;
}

.pd-100 {
  padding: 0 300px;
}

@media (max-width: 1920px) {
  .pd-100 {
    padding: 0 170px;
  }
}
@media (max-width: 1600px) {
  .pd-100 {
    padding: 0 100px;
  }
}
@media (max-width: 1440px) {
  .pd-100 {
    padding: 0 90px;
  }
}
@media (max-width: 1024px) {
  .pd-100 {
    padding: 0 50px;
  }
}
@media (max-width: 600px) {
  .pd-100 {
    padding: 0 20px;
  }
}
.custom_navbar {
  position: fixed;
  top: 0;
  width: 100%;
  top: 0;
  padding: 50px 0;
  z-index: 99;
}
.custom_navbar .links li {
  margin-left: 30px;
}
.custom_navbar .links li a {
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
}
.custom_navbar .links li.active a {
  color: #0ec9ac;
  font-weight: 600;
}
.custom_navbar .links .social {
  margin-left: 40px;
}
.custom_navbar .links .social li {
  margin-left: 12px;
}
.custom_navbar .logo {
  display: block;
}
.custom_navbar .logo img {
  display: block;
  width: 140px;
}

.custom_btn {
  background-color: #0ec9ac;
  color: #fff;
  border-radius: 25px;
  padding: 15px;
  font-size: 0.9rem;
  width: 262px;
  max-width: 100%;
  display: block;
  text-align: center;
  border: 1px solid #0ec9ac;
}
.custom_btn:hover {
  background-color: #fff;
  color: #0ec9ac;
}

.custom_header {
  background-color: #00142c;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.custom_header .lines {
  position: absolute;
  bottom: 140px;
  z-index: 2;
}
.custom_header .header_content {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  position: relative;
  margin: auto;
}
.custom_header .header_content .circle_1 {
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  z-index: 1;
  left: -100px;
}
.custom_header .header_content .circle_1 img {
  width: 80%;
}
.custom_header .header_content .half_circles {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
.custom_header .header_content h5 {
  font-size: 6rem;
  font-weight: 800;
  color: #fff;
  z-index: 4;
  position: relative;
  text-transform: uppercase;
  margin: 0;
}
.custom_header .header_content .first {
  display: flex;
  justify-content: flex-end;
  margin-right: 90px;
}
.custom_header .header_content .typed {
  display: flex;
  margin-left: 100px;
  color: #0ec9ac;
}
.custom_header .header_content p {
  color: #fff;
  font-size: 1.2rem;
  width: 850px;
  margin: 14px 0 39px 0;
  z-index: 4;
  position: relative;
}
.custom_header .header_content a {
  z-index: 4;
  position: relative;
}

.custom_about_header {
  position: relative;
}
.custom_about_header .header_img {
  position: absolute;
  top: 0;
  right: 0;
}
.custom_about_header .header_content {
  width: 45%;
  margin: unset !important;
  margin-right: auto !important;
}
.custom_about_header .header_content p {
  width: 100%;
}

.section_header h6 {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  margin: 0;
}
.section_header h5 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}

.our_services {
  background-color: #011936;
  padding: 260px 0 160px 0;
}
.our_services .section_header {
  margin-bottom: 80px;
}
.our_services .line {
  color: #0ec9ac;
  display: block;
  width: 85%;
  margin: 55px auto;
  height: 1px;
  background-color: #0ec9ac;
}

.service_card {
  position: relative;
  padding-left: 50px;
}
.service_card::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background-color: #0ec9ac;
  height: 80%;
  width: 1px;
}
.service_card .icon {
  width: 75px;
  height: 75px;
  background-color: #002047;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.service_card .icon img {
  width: 55%;
}
.service_card h5 {
  color: #fff;
  font-size: 1.7rem;
  margin: 0;
  margin-left: 30px;
  width: 50%;
}
.service_card .card_body p {
  color: #fff;
  font-size: 1rem;
  margin: 30px 0;
  width: 337px;
  -webkit-line-clamp: 3 !important;
}
.service_card .card_body .custom_btn {
  background-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px;
  width: 150px;
  text-transform: uppercase;
}
.service_card .card_body .custom_btn:hover {
  background-color: #0ec9ac;
  color: #fff;
}
.service_card.no_border::after {
  display: none;
}
.service_card.first_service_card {
  padding-left: 0;
}

.nex_Gen {
  background-color: #00142c;
  padding: 188px 0;
}
.nex_Gen .section_content p {
  color: #fff;
  margin: 45px 0;
}

.facts_number {
  background-image: url("../images/fact_bg.png");
  padding: 180px 0;
  background-color: #00142c;
  position: relative;
}
.facts_number::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 231px;
  background-image: linear-gradient(to top, rgba(0, 20, 44, 0), #00142c);
  content: "";
}

.custom_facts_header {
  background-image: unset;
}

.fact_card {
  text-align: center;
}
.fact_card .fact_img {
  width: 152px;
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #0ec9ac;
  border-radius: 50%;
  margin: auto;
}
.fact_card .fact_body {
  text-align: center;
}
.fact_card .fact_body h5 {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 35px;
}
.fact_card .fact_body p {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.why_choose_us_team_certificate_wrapper {
  background-color: #00142c;
  padding: 125px 0;
  position: relative;
}
.why_choose_us_team_certificate_wrapper .circle {
  position: absolute;
  top: -120px;
  left: -450px;
  z-index: 1;
}
.why_choose_us_team_certificate_wrapper .circle img {
  width: 45%;
}
.why_choose_us_team_certificate_wrapper .section_header {
  text-align: center;
  margin-bottom: 53px;
  position: relative;
  z-index: 3;
}

.why_choose_us_card {
  background-color: #011936;
  padding: 65px 35px;
  text-align: center;
  min-height: 465px;
  position: relative;
  z-index: 3;
}
.why_choose_us_card .card_icon {
  margin-bottom: 35px;
}
.why_choose_us_card h5 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  width: 80%;
  margin: auto;
}
.why_choose_us_card p {
  margin-top: 25px;
  color: #fff;
  font-size: 1rem;
}

.team_certificate {
  padding-top: 124px;
  position: relative;
  z-index: 3;
}
.team_certificate .certificate_proffesional {
  background-color: #011936;
  padding: 65px 80px;
}
.team_certificate .certificate_proffesional h5,
.team_certificate .certificate_proffesional p {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
.team_certificate .certificate_proffesional p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 40px;
}
.team_certificate .certificate_proffesional .slider_item .card_icon {
  width: 135px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team_certificate .certificate_proffesional .slider_item img {
  width: 78%;
  display: inline-flex;
}
.team_certificate .certificate_proffesional .slick-dots {
  display: flex;
  justify-content: center;
  bottom: -60px;
  list-style-type: none;
}
.team_certificate .certificate_proffesional .slick-dots li {
  margin: 0 0;
}
.team_certificate .certificate_proffesional .slick-dots li::after {
  content: "";
}
.team_certificate .certificate_proffesional .slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #002047;
}
.team_certificate .certificate_proffesional .slick-dots button::before {
  content: "";
}
.team_certificate .certificate_proffesional .slick-dots li.slick-active button {
  background-color: #0ec9ac;
}

.we_secure {
  background-color: #00142c;
  padding: 125px 0;
}
.we_secure .section_header {
  text-align: center;
  margin-bottom: 120px;
}

.we_secure_slider .card_icon {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.we_secure_slider .card_icon img {
  width: 60%;
  display: inline-flex;
}

.customeer_testemonials {
  background-color: #011936;
  padding: 100px 0;
}
.customeer_testemonials .section_header {
  text-align: center;
  margin-bottom: 40px;
}
.customeer_testemonials .next_arrow {
  text-align: center;
  margin-bottom: 50px;
  cursor: pointer;
}
.customeer_testemonials .next_arrow img {
  width: 35px;
}
.customeer_testemonials .prev_arrow {
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
}
.customeer_testemonials .prev_arrow img {
  transform: rotate(180deg);
  width: 35px;
}
.customeer_testemonials .horizintal_slider .card_icon {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.customeer_testemonials .horizintal_slider .card_icon img {
  width: 80px;
  filter: grayscale(1);
  display: block;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}
.customeer_testemonials .horizintal_slider .slick-current.slick-active.slick-center img {
  filter: grayscale(0);
  opacity: 1;
  width: 120px;
}
.customeer_testemonials .linked_to_vertical_slider .name img {
  width: 80px;
}
.customeer_testemonials .linked_to_vertical_slider h5 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}
.customeer_testemonials .linked_to_vertical_slider p {
  color: #fff;
  font-size: 1rem;
  margin: -50px 0 25px 0;
}
.customeer_testemonials .linked_to_vertical_slider .review h6 {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

.home_contact_us {
  background-color: #00142c;
  padding: 170px 0;
}
.home_contact_us .contact_us_head {
  position: relative;
}
.home_contact_us .contact_us_head .square {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -300px;
  z-index: 1;
}
.home_contact_us h5 {
  font-size: 6rem;
  font-weight: 800;
  color: #fff;
  z-index: 4;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  z-index: 4;
}
.home_contact_us h5.first {
  margin-left: 60px;
}
.home_contact_us h5.flexEnd {
  margin-right: 30px;
}
.home_contact_us p {
  color: #fff;
  margin-top: 20px;
  font-size: 1.3rem;
  position: relative;
  z-index: 4;
}
.home_contact_us .btn_options {
  position: relative;
  z-index: 4;
}
.home_contact_us .btn_options a {
  margin: 0 15px;
}

.custom_footer {
  background-color: #00142c;
  padding: 120px 0 44px 0;
  box-shadow: 0 0 99px rgba(14, 201, 172, 0.26);
}
.custom_footer .footer_logo {
  position: relative;
  padding-right: 20px;
}
.custom_footer .footer_logo::after {
  position: absolute;
  content: "";
  top: 0;
  right: -40px;
  background-color: #042e61;
  height: 230px;
  width: 1px;
}
.custom_footer .footer_logo img {
  margin-bottom: 45px;
}
.custom_footer .footer_logo p {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 20px;
}
.custom_footer .footer_logo .form-group {
  background-color: #fff;
  border-radius: 25px;
  height: 40px;
  position: relative;
}
.custom_footer .footer_logo .form-group input {
  border-radius: 25px;
  height: 100%;
  padding-right: 135px;
}
.custom_footer .footer_logo .form-group button {
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  width: 129px;
  background-color: #0ec9ac;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  border: 0;
}
.custom_footer .footer_links {
  padding-left: 80px;
  position: relative;
}
.custom_footer .footer_links::after {
  position: absolute;
  content: "";
  top: 0;
  right: -40px;
  background-color: #042e61;
  height: 230px;
  width: 1px;
}
.custom_footer .footer_links h5 {
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.custom_footer .footer_links li {
  margin-bottom: 5px;
}
.custom_footer .footer_links a {
  color: #fff;
}
.custom_footer .no_border::after {
  display: none;
}
.custom_footer .footer_links_locations li {
  margin-bottom: 15px;
}
.custom_footer .footer_links_locations li a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.custom_footer .footer_links_locations li a span {
  margin-left: 10px;
}

.copy_right {
  background-color: #00142c;
  padding: 40px 0;
}
.copy_right h5 {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
.copy_right li {
  margin-left: 15px;
}
.copy_right li i {
  color: #fff;
  font-size: 1.4rem;
}

.about_team_certificate .certificate_proffesional {
  background-color: transparent;
}

.acwnologe_by {
  background-color: #011936;
  padding: 83px 0;
}
.acwnologe_by .section_header {
  margin-bottom: 40px;
}
.acwnologe_by .acwnologe_by_slider .card_icon {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acwnologe_by .acwnologe_by_slider .card_icon img {
  width: 150px;
}
.acwnologe_by .slick-dots {
  display: flex;
  justify-content: center;
  bottom: -60px;
  list-style-type: none;
}
.acwnologe_by .slick-dots li {
  margin: 0 0;
}
.acwnologe_by .slick-dots li::after {
  content: "";
}
.acwnologe_by .slick-dots button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #002047;
}
.acwnologe_by .slick-dots button::before {
  content: "";
}
.acwnologe_by .slick-dots li.slick-active button {
  background-color: #0ec9ac;
}

.our_partners {
  background-color: #00142c;
  padding-bottom: 120px;
}

@media (max-width: 1800px) {
  html {
    font-size: 14px;
  }
}
/* Shared styles  */
.facts_number {
  background-position: center;
  background-size: cover;
}

.service_card .card_body p {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}/*# sourceMappingURL=style.css.map */